<div class="container">
  <form (ngSubmit)="onSubmit()" class="addPost">
    <div class="content_container">
      <label for="titel">Enter something</label>
      <textarea
        class="content"
        name="title"
        type="text"
        id="title"
        [(ngModel)]="content"
      ></textarea>
    </div>
    <div class="img_container">
      <label for="image">add image</label>
      <input
        (change)="OnSelectFile($event)"
        type="file"
        id="image"
        class="img"
      />
    </div>
    <div>
      <button type="submit">submit</button>
    </div>
  </form>
</div>
