.mb-3 label {
  display: block;
}

.mb-3 input,
.mb-3 textarea {
  width: 100%;
}

.text-success {
  color: #198754;
}

.text-danger {
  color: #dc3545;
}

.signup-form {
  border: solid 1px var(--color-border);
  margin-bottom: 30px;
  max-width: 500px;
  margin: 0 auto 30px;
}
