.postsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 20px;
}

.post {
  border-radius: 10px;
  border: 1px solid black;
  width: 98%;
  max-width: 90%;
  padding: 20px;
  background-color: var(--color-post);
}

i {
  font-size: 50px;
}
.bars {
  width: 20px;
  height: 20px;
}
.date {
  text-align: right;
  margin: 0;
}
.fileContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
