<!-- <button (click)="fetchPosts()">get posts</button> -->

@for (post of posts(); track post.id; let i = $index) {
<div class="postsContainer">
  <h2>{{ post.nickname }}</h2>
  <div>
    <p>{{ post.content }}</p>
    @if (post.imagePath && post.imagePath.startsWith("image")) {
    <img
      [src]="`http://localhost:8080/uploads/${post.imagePath}`"
      alt="Post Image"
    />
    } @if (post.imagePath && post.imagePath.startsWith("video")) {
    <video [src]="post.imagePath"></video>
    }
  </div>
  <div>
    <button (click)="reaction(post.id, 'like', i)">Like</button>
    <span>{{ post.likes }}</span>
    <button (click)="reaction(post.id, 'dislike', i)">Dislike</button>
    <span> {{ post.dislikes }} </span>
    <button (click)="showComments(post.id)">Comments</button>
    <span>00</span>
  </div>
</div>
} @empty {
<div>No items found.</div>
}
