@if (!currentPath.startsWith('/profile')) {
<app-add-post></app-add-post>
} 
<div class="postsContainer">
  @for (post of postsService.getPosts(); track post.id; let i = $index) {
  <div class="post">
    <h2 (click)="goToProfile(post.nickname, post.user_id)" class="userNickname">
      <span>
        {{ post.nickname }}
      </span>
      <i (click)="toggle(i)" class="fa-solid fa-bars"></i>
    </h2>

    @if (targetedPost == i) {
    <div class="actionMenu">
      <ul class="opptions">
        @if (post.postOwner) {
        <li><i class="fa-regular fa-pen-to-square"></i> edit</li>
        <li (click)="deleteChecker = true">
          <i class="fa-regular fa-trash-can"></i>
          delete
        </li>
        } @else {
        <li (click)="reportForm = true">
          <i class="fa-regular fa-flag"></i> report
        </li>
        } @if (reportForm) {
        <app-report
          (removeReportComponent)="closeReport($event)"
          [postId]="post.id"
        ></app-report>
        } @if (deleteChecker) {
        <div class="layout">
          <div>are you sure you want to delete this post?</div>
          <button (click)="deleteChecker = false">cancel</button>
          <button (click)="delete(i)">delete</button>
        </div>
        }
      </ul>
    </div>
    }
    <p class="date">{{ formatDate(post.created_at) }}</p>
    <div>
      <p>{{ post.content }}</p>
      @if (post.image_path) {
      <div class="fileContainer">
        @if (post.image_path.startsWith("image")) {
        <img
          [src]="`http://localhost:8080/uploads/${post.image_path}`"
          alt="Post Image"
        />
        } @if (post.image_path.startsWith("videos")) {
        <video
          [src]="`http://localhost:8080/uploads/${post.image_path}`"
          controls
        ></video>
        }
      </div>
      }
    </div>
    <div>
      <button (click)="reaction(post.id, 'like', i)">Like</button>
      <span>{{ post.likes }}</span>
      <button (click)="reaction(post.id, 'dislike', i)">Dislike</button>
      <span> {{ post.dislikes }} </span>
      <button (click)="showTargetedPostId = post.id">Comments</button>
      @if (showTargetedPostId == post.id) {
      <app-comments [postId]="post.id"></app-comments>
      }
      <span>00</span>
    </div>
  </div>
  } @empty {
  <div>No items found.</div>
  }
</div>
